@media screen {

h1 {
	font-family: Snell, "Monotype Corsiva", Georgia, Times, serif;
	font-weight: bold;
	text-align:center;
}

h2 {
	font-weight: normal;
	text-align:center;
}
body {
	background-color: #CCFF99;
	background-image: url(backgroundimage.jpg);
	background-repeat: repeat-y;
	font-family: Georgia, Times, serif;
} 

ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	}
li { 
	display:inline;
	float:left;
	margin:6px;
	padding:12px;
	background-color:white;
	opacity:.5;
	border-radius:6px;
	overflow:hidden;
	}
li a {
	display:block;
	color:black;
}

a:visited {color:maroon;}
a:hover{color:gold;}

p {
	display:block;
	overflow:hidden;
	float:left;
	clear:left;
	max-width:60%;
	margin-left:16%;
	background-color:khaki;
	opacity:.6;
	padding:60px;
	border-radius:12px;
	}
	
footer {
	float:left;
	clear:both;
	
	}
	
#animation{
	position:relative;
	margin:5px;
	padding:5px;
	clear:left;
	display: block;
	max-width:6%;	
	-webkit-animation:travel 1.5s linear infinite alternate;
	-moz-animation:travel 1.5s linear infinite alternate;
    animation:travel 1.5s linear infinite alternate;
}
@-webkit-keyframes travel{
from {-webkit-transform: transformX(0px);}
to {-webkit-transform: translateX(1000px);}
}
}


@media only screen and (min-width:700px) {

ul {
	margin-left:30%;
}

}
@media only screen and (min-width:1000px) {

ul {
	margin-left:39%;
}

