body {
	background-color: #CCFF99;
	background-image: url(backgroundimage.jpg);
	background-repeat: repeat-y;
	font-family: Georgia, Times, serif;
} 

h1 {
	font-family: Snell, "Monotype Corsiva", Georgia, Times, serif;
	font-weight: bold;
}

h2 {
	font-weight: normal;
}



.animation {
  position: relative;
  animation: travel 1.5s linear infinite alternate;
  margin-top: 10px;
  max-width:6%;
  }
@keyframes travel {
from {transform: transformX(0px) rotateY(180deg);}
to {transform: translateX(1000px) rotateY(0deg);}
}



.navigation {
	float:left;
}

.header {
	text-align: center;
}

ul li a {
	display: block;
	list-style: none;
	background-color: white;
	opacity: .5;
	width: 100px;
	text-align: center;
	padding: 20px 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 6px; 
	overflow: hidden;
	
}

a:link {
	color: black;
}

a:visited {
	color: maroon;
}

a:hover {
	color: gold;
}

@media only screen and (min-width:1000px) {
p.projectsummary {
	width: 900px;
	float: left;
	margin-left: 60px;
	background-color: khaki;
	opacity: .6;
	border-radius: 12px;
	padding: 60px;
	overflow: hidden;
}
}

.footer {
	clear:both;
}