body {
	background-color: #CCFF99;
	background-image: url(backgroundimage.jpg);
	background-repeat: repeat-y;
	font-family: Georgia, Times, serif;
} 

h1 {
	font-family: Snell, "Monotype Corsiva", Georgia, Times, serif;
	font-weight: bold;
}

h2 {
	font-weight: normal;
}

.header {
	text-align: center;
	padding: 0;
	margin: 0;
}

.navigation {
	float:left;
	
}

ul li a {
	display: block;
	list-style: none;
	background-color: white;
	opacity: .5;
	width: 100px;
	text-align: center;
	padding: 20px 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 6px; 
	overflow: hidden;
	
}

a:link {
	color: black;
}

a:visited {
	color: maroon;
}

a:hover {
	color: gold;
}

.main {
	margin-left:200px;
	overflow:hidden;
}

@media only screen and (min-width:1000px) {

.colorpalette {
	display:block;
	margin-left: 60px;
	border-radius: 12px;
	padding: 60px;
	overflow: hidden;
	
	
}

.blackwhite {
	display: block;
	float:left; 
	width:27%;
	margin:2%;
	overflow: hidden;
	padding: 0;
	clear: left;
}

.redaccent {
	display: block;
	float:left; 
	width:27%;
	margin:2%;
	overflow: hidden;
	padding: 0;
}

.sunflower {
	display: block;
	float:left;
	width: 27%;
	margin:2%;
	overflow: hidden;
	padding: 0;
}



footer {
	clear:both;
	}

















